*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #050404; 
    color: #ffffff; 
}

.container {
    width: 90%;
    max-width: 500px;
    margin: 20px;
    border: 1px solid #660000; 
    padding: 20px;
    box-shadow: 0px 0px 10px #660000; 
    background-color: #360000;
    border-radius: 8px;
}

.logo {
    width: 120px;
    height: auto;
    transition: transform 0.3s ease;
}

input, button {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    background-color: #990000; 
    border: 1px solid #660000; 
    color: #ffffff; 
    border-radius: 4px;
}

input::placeholder {
    color: #ffffff; 
    opacity: 0.5;
}

input:focus, button:focus {
    outline: none;
    border-color: #ffffff; 
}

button {
    background-color: #ffffff; 
    color: #cc0000; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e6e6e6; 
}

.password-entry {
    cursor: pointer;
    font-weight: bold;
}

.password-details {
    display: none;
    background-color: #360000; 
    padding: 8px;
    margin-top: 8px;
    border-radius: 4px; 
}

#passwordList {
    padding-left: 0; 
    width: 100%;
}

.password-entry {
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 8px; 
}

.password-entry:hover {
    background-color: #9b2727; /
}

button.delete-btn, button.copy-btn {
    padding: 5px 10px;
    background-color: #5a81a3; 
    color: #f8f8f2; 
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    display: none; 
}

button.delete-btn:hover, button.copy-btn:hover {
    background-color: #79a9d1; 
}

button.edit-note-btn {
    background-color: #5a81a3; 
    color: #f8f8f2; 
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button.edit-note-btn:hover {
    background-color: #79a9d1; 
}

.entry-header {
    display: flex;
    align-items: center; 
    gap: 8px; 
}

.password-entry {
    border: 1px solid #6272a4; 
    margin-bottom: 10px;
    padding: 10px;
    list-style: none; 
    background: #360000; 
    border-radius: 4px; 
    cursor: pointer;
}


.arrow {
    display: inline-block;
    margin-left: 5px;
    transition: transform 0.3s ease;
}

.arrow.down::before {
    content: "\25BC";
    color: #f1fa8c; 
}

.arrow.up::before {
    content: "\25B2";
    color: #f1fa8c;
}

button.delete-btn {
    display: none;
    background-color: #ff5555; 
    color: #f8f8f2; 
    padding: 5px 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px; 
    cursor: pointer;
}

button.delete-btn:hover {
    background-color: #ff6e6e; 
}


.note-text {
    cursor: text;
    user-select: text;
}

.copy-btn {
    background-color: #6272a4; 
    color: #f8f8f2; 
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.copy-btn:hover {
    background-color: #79a9d1; 
}



/* Container for the note elements */
.note-container {
    border: 1px solid #50b9fa; 
    padding: 10px;
    margin-top: 10px;
    background-color: #2b4152; 
    border-radius: 4px;
    overflow: hidden; 
}

/* Input field for editing notes */
.note-container input[type='text'] {
    width: calc(100% - 20px);
    padding: 5px;
    margin-top: 5px;
    background-color: #6272a4; 
    color: #f8f8f2; 
    border: 1px solid #f8f8f2; 
    border-radius: 4px;
}

/* Note text styling */
.note-text {
    color: #f8f8f2; 
    cursor: text;
    user-select: text;
}

/* Copy and Edit Note buttons styling */
.note-container .copy-btn,
.note-container .edit-note-btn,
.note-container .save-note-btn {
    background-color: #6272a4; 
    color: #f8f8f2; 
    border: none;
    margin-right: 5px;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.note-container .copy-btn:hover,
.note-container .edit-note-btn:hover,
.note-container .save-note-btn:hover {
    background-color: #79a9d1; 
}

/* Note container and text styling */
.note-container {
    cursor: text; 
}

.note-container * { 
    cursor: inherit; 
}

.note-container button { 
    cursor: pointer; 
}
